.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-primary);
    font-size: 1rem;
    line-height: 1.5rem;
    min-width: 396px;
    width: 100%;
    padding: 2.4rem;
    margin-bottom: 1rem;
    position: relative;
    z-index: 2;
    overflow: hidden;

    .alert-message {
        display: flex;
        color: #a00000;
        width: 20rem;
        font-size: 1rem;
        text-align: center;
        margin: 0;
    }

    .alert-hidden {
        color: transparent;
    }
    
    .contact-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: fit-content;
        position: relative;

        
        h1 {
            font-family: var(--font-secondary);
            color: var(--secondary-text-color);
            font-size: var(--size-h1);
            padding: 1rem 0 3rem 0; 
            /* z-index: 3; */
        }
        
        .contact-form {
            background-color: var(--disabled-button-color);
            display: flex;
            flex-direction: column;
            padding: 2.4rem;
            border-radius: 20px;
            row-gap: 1.5rem;
            box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 15px 0px;
            min-width: fit-content;
            width: fit-content;
            /* z-index: 3; */
            
            .form-field {
    
                .form-input, .form-textarea {
                    width: 100%;
                    margin-top: 0.5rem;
                    border: none;
                }
                
                .form-input {
                    border: none;
                    height: 2.4rem;
                    border-radius: 10px;
                    padding: 0.5rem 0.75rem;     
                }
                
                .form-input:focus, .form-textarea:focus {
                    outline: 3px solid var(--input-border-focus);
                }
                
                .form-textarea {
                    padding: 0.5rem 0.75rem;
                    resize: vertical;
                }
                
            }
            
            .form-button-container {
                display: flex;
                align-items: center;
                justify-content: center;
                
                .form-button {
                    width: 50%;
                    height: 2.4rem;
                    background-color: var(--primary-color-button-active);
                    color: white;
                    border: none;
                    border-radius: 10px;
                    box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 15px 0px;
                }
                
                .form-button:hover {
                    background-color: var(--hover-button-color-primary);
                    color: var(--support-color);
                }
                
                .form-button:active {
                    background-color: var(--pressed-button-color-primary);
                }
                
                .form-button:focus {
                    outline: 3px solid var(--input-border-focus);
                }
            }
        }
        
        .contact-card {
            background-color: var(--primary-color-button-active);
            color: #fff;
            display: flex;
            flex-direction: column;
            padding: 2.4rem;
            border-radius: 20px;
            row-gap: 1.2rem;
            box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 15px 0px;
            min-width: fit-content;
            width: fit-content;
            margin-top: 2.4rem;
            aspect-ratio: 1 / 1;
            /* z-index: 3; */
            
            .contact-info {
                display: block;
                
                .contact-phone, .contact-email {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                    padding: 1rem 0;
                    
                    .size-6 {
                        height: 2rem;
                    }
                }
            }
            
            .social-media {
                
                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    padding: 1.2rem;
                    
                    li {
                        display: flex;
                        padding: 0 1rem;
                        height: 2rem;
                        
                        svg{
                            fill: #fff;                           
                        }
                    }
                }
            }            
        }
    }   

    .contact-modal {
        filter: blur(3px);
    }

    .modal-contact{
        box-sizing: border-box;
        display: none; 
        position: absolute;
        background-color: transparent;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        color: var(--primary-text-color);
        z-index: 1000;
        width: 80%;
        max-width: 400px; /* Limitar su ancho a 400px en pantallas más grandes */
        box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 15px 0px;
        padding: 1.6rem 0;

        /*Estilos para el botón de cierre*/
        .modal-close-button{
            text-indent: -2000px;
            position: absolute;
            background: transparent url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" /></svg>') no-repeat center;
            border: none;
            cursor: pointer;
            z-index: 1010; /*Botón encima del contenido*/
            width: 1.6rem;
            top: 0.4rem;
            right: 0.8rem;
            opacity: 0.6;
        }

        .modal-close-button:hover {
            opacity: 1;
        }

        .modal-message {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0.8rem 2rem;
            
            .modal-heart {
                width: 30px;
                color: var(--secondary-color);
                border-bottom: 2px solid transparent; 
                margin-bottom: 0.8rem;
            }

            p{
                font-family: var(--font-secondary);
                font-size: var(--size-modal-mobile);
                text-align: center; 
                line-height: 1.5;  
                padding-bottom: 1.6rem;         
            }
        }
    }

    /* Mostrar el modal cuando la clase 'show' esté presente */
   .modal-contact.show-contact {
       display: block;
   }
}

.contact::before {
    /* content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/background/pawel-czerwinski-YWIOwHvRBvU-unsplash.jpg);
    background-size: cover;
    z-index: -1; */
    /* opacity: 0.6; */
}


@media screen and (min-width: 768px) {

    .contact {
        min-width: fit-content;

        .contact-container {

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 10% 90%;
            justify-items: center;
            align-items: center;
            justify-content: center;
            align-content: center;
            row-gap: 0;
            background-color: var(--disabled-button-color);
            box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 15px 0px;

            h1 {
                /* color: #000; */
                border-bottom: 2px solid var(--secondary-color);
            }

            .contact-card {
                grid-row-start: 2;
                box-shadow: none;
                aspect-ratio: unset;
                background-color: transparent;
                color: var(--secondary-text-color);

                .social-media ul li svg{
                    fill: var(--secondary-text-color);
                }
            }

            .contact-form {
                grid-column-start: 2;
                grid-row: span 2 / span 2;
                box-shadow: none;
                padding-right: 4rem;
                background-color: transparent;
            }
        }

        .modal-contact{
            width: fit-content;
            padding: 1.8rem;

            .modal-message {
                
                p {
                    font-family: var(--font-secondary);
                    font-size: var(--size-modal);
                }
    
                .modal-heart:hover {
                    transform: translateY(2px);
                    border-bottom: 2px solid var(--disabled-button-color); 
                }
            }

            .modal-close-button {
                font-size: 1.8rem;
            }
        }
    }
}

