.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.4rem;
    font-family: var(--font-primary);
    font-size: 1rem;
    line-height: 1.5rem;
    
    .contact-form {
        background-color: var(--disabled-button-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2.4rem;
        border-radius: 20px;
        row-gap: 1.5rem;
        box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 15px 0px;

        .form-field {
            /* background-color: pink; */

            .form-input, .form-textarea {
                width: 100%;
                margin-top: 0.5rem;
                border: none;
            }

            .form-input {
                border: none;
                height: 2.4rem;
                border-radius: 10px;
                padding: 0.5rem 0.75rem;     
            }

            .form-input:focus, .form-textarea:focus {
                outline: 3px solid var(--input-border-focus);
            }

            .form-textarea {
                padding: 0.5rem 0.75rem;
                resize: vertical;
            }

        }

        .form-button-container {
            display: flex;
            align-items: center;
            justify-content: center;
            
            .form-button {
                width: 50%;
                height: 2.4rem;
                background-color: var(--primary-color-button-active);
                color: white;
                border: none;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 15px 0px;
            }

            .form-button:hover {
                background-color: var(--hover-button-color-primary);
                color: var(--support-color);
            }

            .form-button:active {
                background-color: var(--pressed-button-color-primary);
            }
        }
    }
}

@media screen and (min-width: 768px) {

    .contact {
        .contact-form {
            width: 50%;

            .form-field, .form-button-container{
                width: 60%;
            }
        }
    }
}