footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 0;
    margin-top: 2rem;
    bottom: 0;
    border-top: 2px solid var(--secondary-color);
    background: linear-gradient(to bottom, var(--disabled-button-color), 2%, white);
    box-shadow: rgba(0, 0, 0, 0.30) 0px -5px 15px 0px;
    font-family: var(--font-primary);

    .newsletter {
        background-color: var(--secondary-color);
        grid-area: "newsletter";
        grid-column: span 2 / span 2;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;

        .newsletter-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            .newsletter-icon {
                width: 1.8rem;
                color: var(--secondary-text-color);
            }
    
            form {
                color: var(--secondary-text-color);
                text-wrap: nowrap;
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: center;
                gap: 1rem;
                
                h3 {
                    font-family: var(--font-secondary);
                    font-size: 1.75rem;
                }
    
                .newsletter-email, .newsletter-button {
                    width: 70%;
                    height: 2.4rem;
                    border-radius: 10px;
                    padding: 0 0.5rem;
                }
    
                .newsletter-email {
                    border: 1px solid var(--primary-color-button-active);
                    background-color: var(--input-color-empty-label);
                }
    
                .newsletter-button {
                    border: none;
                    background-color: var(--primary-color-button-active);
                    color: white;
                }
    
                .newsletter-checkbox {
                    margin: 0 0.4rem;
                    width: 1rem;
                }
            }

        }
        
    }

    .footer-info {
        padding: 0 1.2rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        .footer-logo-container {
            padding: 2.4rem 0 0.8rem 1.2rem;
            border-bottom: 2px solid var(--secondary-color);
        }

        .address, .info-menu, .policies {
            padding: 1rem 0 0.6rem 1.2rem;
        }
        
        .social-media {
    
            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                padding: 2rem 1.2rem;
                
                li {
                    background-color: var(--secondary-color);
                    display: flex;
                    padding: 0 1rem;
                    height: 2rem;
                }
            }
        }

        .copyright {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1.2rem;
            margin-top: 1rem;
        }
    }

}