header {
    /* background-color: blue; */
    padding: 1.2rem;
    display: grid;
    grid-template-areas: 
    "burger logo login"
    "cart";
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: repeat(80%, 20%);
    justify-content: space-around;
    width: 100%;
    border-bottom: 2px solid #6CBFBF;
    background: linear-gradient(to top, #E0D9D0, 2%, white);
}

.burger-container {
    /* background-color: green; */
    grid-area: "burger";
    grid-row: span 2 / span 2;
    grid-column: span 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;

    #burger {
        background-color: transparent;
        border: 2px solid #6CBFBF;
        border-radius: 5px;
        cursor: pointer;
        color: #5A6F80;
    }
}

.logo-container {
    /* background-color: aquamarine; */
    grid-area: "logo";
    grid-row: span 2 / span 2;
    grid-column: span 1 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .image-logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10rem;
    }
}

.header-nav {
    display: none;
}

.login-container {
    /* background-color: red; */
    grid-area: "login";
    color: #6CBFBF;
    grid-column-start: 3;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
        width: 2.2rem;
    }
}

.cart-container {
    /* background-color: yellow; */
    grid-area: "cart";
    grid-row-start: 2;
    display: flex;
    align-items: baseline;
    justify-content: center;
    color: #5A6F80;
    grid-column-start: 3;
    grid-row-start: 2;
    padding: 1rem 0 0 1.2rem;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
}

span {
    background-color: #6CBFBF;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 100%;
    text-align: center;
    align-items: center;
    justify-items: center;
    color: white;
    font-family: 'Roboto', Arial, Helvetica, sans-serif
}
