/*Estilos la seccion y las cards del componente recommendedBooks */

/*Estilos para Mobile First */

.section-books-recommended-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 252px;
    height: 100%;
    padding: 60px;
    
    .title-section-books-recommended-cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-family: var(--font-secondary);
        font-size: var(--size-h1-smaller);
        color: var(--primary-text-color);
        font-weight: bold;
        text-align: center;
        width: 100%;
        min-width: 250px;
        margin-bottom: 20px; 
        cursor: default;
    }

    .cards-container {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%; /*Revisar cuando se ponga el header (vh) y footer : revisar contenedor de card en home */
        margin-top: 20px;
        gap: 50px;
        margin-bottom: 15px;
        padding-bottom: 20px;
        padding-top: 20px;
        min-width: 250px;

        .books-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 260px; 
            height: 650px;
            border: 1px solid var(--secondary-text-color);
            border-radius: 0.5em;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            font-family: var(--font-primary);

            .container-img { 
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 350px; /*REVISAR SI LO QUIERO MAS GRANDE O PEQUEÑO*/

                .books-img {
                    width: 100%;
                    height: 100%;
                }
            }

            .card-info {
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 8px;
                width: 100%;
                /* height: 375px;  */
                overflow: hidden;
                color: var( --primary-text-color);

                .book-info-price{
                    box-sizing: border-box;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    height: 150px;

                    h3 {
                        font-family: var(--font-secondary);
                        font-size: var(--size-h3);
                        font-weight: 900; /*PREGUNTAR SI TITULOS CON BOLD */
                        text-align: center;
                        margin: 10px 0;
                    }

                    p {
                        font-size: var(--size-p-price);
                        margin: 5px 0;
                    }
                }
                
                .inStock-books,
                .noStock-books {
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;
                    margin-top: 15px;

                    .greenCircle,
                    .redCircle {
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        margin-left: 5px;
                    }

                    .greenCircle {
                        background-color: green;
                    }

                    .redCircle {
                        background-color: red;
                    }
                }

                .see-details-books {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    width: 100%; 
                    height: 50px;
                    text-align: center;

                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100px; 
                        height: 50px;
                        border: 1px solid var(--primary-color-button-active);
                        border-radius: 1rem;
                        background-color: var(--primary-color-button-active);
                        color:var(--text-white);
                        font-weight: bold;
                        box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 15px 0px;
                    }
                    
                }
            }
        }
    }
}


/*Para resolver problemas de alineacion de samsung Galaxy */
/* @media (width: 360px) {
    .section-books-recommended-card {
        margin-left: 22px;
    }
} */

/*Para resolver problemas de alineacion de iPhone SE */
/* @media (width: 375px) {
    .section-books-recommended-card {
        margin-left: 15px;
    }
} */



/* Tablets */
@media (min-width: 768px)  {

    .section-books-recommended-card {
        width: 100%;

        .title-section-books-recommended-cards{
            font-size: var(--size-h1);
            margin-top: 80px;
            margin-bottom: 40px;
        }
        .cards-container {
            .books-card {
                width: 290px; 
                height: 100%; 
                margin: 0px;

                .container-img{
                    width: 100%;           
                    height: 370px;          
                    object-fit: cover; 
                }
            }
        }
    }
}

/* Pantalla de ordenador  */
@media (min-width: 1024px) {
    .section-books-recommended-card {
        margin-top: 50px;
        margin: 0 auto;

        .title-section-books-cards{
            font-family: var(--font-secondary);
            font-size: var(--size-h1);
        }
        
        .cards-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 50px;
            width: 100%;
            padding: 30px;

            .books-card {
                box-sizing: border-box;
                width: 280px; 
                height: 615px; 
                margin: 0px;
                transition: transform 0.3s ease, box-shadow 0.3s ease;
                
                .container-img{
                    width: 100%;           
                    height: 370px;          
                    object-fit: cover; 
                    cursor: pointer;
                }
            }
            .books-card:hover{
                transform: scale(1.02);
                box-shadow: 0 3px 8px var(--text-placeholder-input);
            }

            .card-info {
                
                .book-info-price{
                    
                    h3{
                        cursor: default;
                    }
                    
                    p{
                        font-size: var(--size-p-price);
                        cursor: default;
                    }
                }

                .inStock-books,
                .noStock-books {
                    cursor: default;
                }
               

                .see-details-books {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 35px;
                    margin-bottom: 30px;
                    width: 100%; 
                    height: 40px;
                    text-align: center;
                    
                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100px; 
                        height: 40px;
                        border: 1px solid var(--primary-color-button-active);
                        border-radius: 0.25rem;
                        background-color: var(--secondary-color-button-active);
                        color:var( --primary-text-color);
                        font-weight: bold;
                    }
                    a:hover{
                        background-color: var(--hover-button-color-primary);
                        color: var(--support-color) ;   
                        border: 1px solid var(--hover-button-color-primary); 
                    }
                 
                }
                
            }
            
        }
    }
}