
.div-perfil {
  box-sizing: border-box;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-primary);
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  background-color: var(--disabled-button-color);
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 15px;
  
  .title-perfil {
    font-family: var(--font-secondary);
    font-size: var(--size-h2);
    padding: 0.4rem 0;
    color: var(--secondary-text-color);
    text-align: center;
    margin-top: 40px;
    padding-right: 45px;
  }
  
  .image-perfil {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }

  /* Contenedor para los botones */
  .button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 20px;
    align-items: center; 
    justify-content: space-around;
  }

  /* Aseguramos que los botones estén dentro del contenedor */
  .button-container .Logout-Button,
  .button-container .button-delete-user {
    width: 100%; /* Los botones ocuparán todo el ancho del contenedor */
    max-width: 200px; /* Evita que los botones se estiren demasiado */
  }
}

.section-perfil {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  h3, label {
    font-family: var(--font-secondary);
    margin-top: 20px;
    font-size: var(--size-modal);
    color: var(--text-placeholder-input);
  }
}

.form-perfil {
  /* position: relative; */
  /* left: 20px; */
  padding-left: 45px;
  cursor: default;
  
  label {
    display: block;
    width: 100%;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="password"] {
    font-family: var(--font-secondary);
    font-weight: bold;
    color: var(--primary-text-color);
    border: 1px solid var(--primary-color-button-active);
    width: 100%; /* Cambiado: ahora ocupa el 100% del ancho disponible */
    height: 40px; /* Cambiado: aumentada la altura para mayor visibilidad */
  }
  
  button {
    position: relative;
    right: 20px;
    width: 80px;
    height: 40px;
    color: var(--primary-text-color);
    font-weight: bold;
    border-radius: 0.25rem;
    font-family: var(--font-secondary);
    background-color: white;
    
    &:hover {
      background-color: var(--hover-button-color-primary);
      font-weight: bold;
    }
  }
}

.input-container {
  display: flex;
  align-items: center;
  gap: 5px;
  
  input[type="file"] {
    position: relative;
    right: 20px;
    background-image: none;
    height: 26px;
    width: 158px;
  }
}

.button-container {
  margin-bottom: 20px;
  
  .edit-button {
    display: flex;
    flex-direction: column;
    margin-left: 260px;
    margin-top: -35px;
    border: none;
    background-color: transparent;
    
    svg {
      fill: var(--secondary-color-button-active);
    }
  }
  .edit-button:hover{
    background-color: transparent;
  }
  
  .edit-button-img {
    border: none;
    background-color: var(--disabled-button-color);
    z-index: 1;
    
    &:focus,
    &:active {
      outline: none;
      box-shadow: none;
      background-color: transparent;
    }
    
    svg {
      background-color: var(--disabled-button-color);
      top: -120px;
      fill: var(--secondary-color-button-active);
    }
  }
  .edit-button-img:hover{
    background-color: transparent;
  }
}

.div-close {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  
  .Logout-Button {
    width: 120px;
    display: block;
    border: none;
    background-color: var(--secondary-color-button-active);
    color: var(--primary-text-color);
    font-weight: bold;
    border-radius: 0.25rem;
    font-family: var(--font-secondary);
    box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 15px;
  }
}

/* Estilos para el contenedor y el botón de eliminación */
.div-delete-user {
  text-align: center;
  width: 100%;

  .button-delete-user {
    background-color: #dc3545;
    color: white;
    height: 45px;
    border: none;
    font-family: var(--font-secondary);
    font-size: 1rem;
    border-radius: 0.25rem;
    width: 150px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, font-weight 0.3s;
    box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 15px;
    margin-bottom: 35px;
  }
  
  .button-delete-user:hover {
    background-color: #bd2232;
    color: white;
    font-weight: bold;
  }
}


/* Tablet */
@media (min-width: 768px) {
  .section-perfil {
    flex-direction: row;
    justify-content: center;
  }
  
  .div-perfil {
    width: 400px;
    height: auto; /* Se ajusta la altura para evitar desbordamientos */
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .button-container {
    flex-direction: row; /* Coloca los botones en fila en tablet */
    justify-content: space-between; /* Acomoda los botones en línea */
  }
}

/* Ordenador */
@media (min-width: 1024px) {
  .form-perfil {
    span {
      font-family: var(--font-secondary);
      font-size: 1.3rem;
    }
  }

  .div-perfil {
    width: 400px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .button-container {
    flex-direction: row; /* Los botones se alinearán en fila en pantallas grandes */
    justify-content: space-between;
    gap: 20px; /* Se añade espacio entre los botones */
  }
}